.App {
  text-align: center;
  background: linear-gradient(45deg, #00153e, #05202b); 
  color: white ;
  justify-content: center;

}
.NewMovies{
  margin: 25px;
  margin-left: 14%;
  background-color: white;
  color: #00153e;
  width: 75%;
  border-radius: 15px;
  padding-bottom: 10px;
}
.lab{
  font-weight: bold;
}
 h6{
    font-weight: bold;
    font-size: 50%;
}
.newForm{
  display: flex;
  margin: 20px;
  justify-content: space-around;
  align-items: center;
  height: max-content;
  flex-direction: row;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
